:root {
    --fonts: Jost, sans-serif;
}

h1, h2, label, p, .result-label, .result {
    font-family: var(--fonts);
}

h1 {
    font-weight: 600;
}

h2 {
    font-weight: 400;
    margin: 10px 0;
}

p {
    text-align: center;
    margin: 0 0 20px 0;
}

input {
    box-sizing: border-box;
    height: 35px;
    margin: 0;
    flex-grow: 1;
    font-size: 20px;
}

label, .result-label {
    font-size: 20px;
}

select {
    box-sizing: border-box;
    height: 35px;
    margin: 0;
}

#container {
    width: 50%;
    margin: auto;
}

#title {
    font-size: 60px;
    margin: 0;
    padding-top: 40px;
    padding-bottom: 20px;
    line-height: 40px;
    text-align: center;
}

#title span {
    font-size: 20px;
    letter-spacing: 10px;
}

.section {
    display: grid;
    align-items: center;
    grid-auto-rows: auto;
    grid-template: 
        "sub-title sub-title sub-title" 50px
        "textInput textInput textInput" 50px
        "result result result" minmax(50px, auto)
        / 1fr 1fr 1fr;
    box-sizing: border-box;
}

.sub-title {
    grid-area: sub-title;
}

.textInput {
    grid-area: textInput;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.result-wrapper {
    grid-area: result;
}

.result {
    font-size: 20px;
    word-wrap: break-word;
    color: limegreen;
}

input {
    width: 100%;
    margin-right: 10px;
}

hr {
    border: 0;
    border-top: 3px double #e9e9e9;
}